.not-found {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-1 h1 {
  font-weight: 700;
  font-size: 62px;
}
.btn {
  margin-right: 2px;
}
.form-group {
  padding: 5px;
}
.btn-block {
  width: 80%;
  margin-left: 6%;
  margin-top: 10px;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
html {
  scroll-behavior: smooth;
}
